<%= render 'users/list', user: @users, book: @book %>





<% @books.each do |book| %>
<div>
  <h4>Title</h4>
  <%= link_to book_path(book.id) do %>
  <p><%= book.title %></p>
  <% end %>
  <h4>Opinion</h4>
  <p><%= book.body %></p>
</div>
<% end %>

